h1 {
    font-size: 55px;
    font-style: initial;
}
h2 {
    color: lightcoral;
}
body {
    background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1613708867_82-p-foni-dlya-prezentatsii-krasivie-nezhnie-91.jpg);
}
div {
    text-align: center;
}
